<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.notepad.mapper.NoteMapper">

    <select id="findAll" parameterType="String" resultType="Note">
        select * from notepad.note
        where user_id = #{user_id} and delete_time is null
        order by top_time desc,note_date desc;

    </select>
    <select id="findAllByAll" resultType="Note">
        select * from notepad.note;
    </select>

    <select id="findAllByThing" resultType="Note">
        select * from notepad.note
        where user_id = #{user_id} and delete_time is null
        and note_title like concat('%',#{thing},'%') or note_content like concat('%',#{thing},'%') or note_date like concat('%',#{thing},'%')
        order by top_time desc,note_date desc;
    </select>

    <insert id="add" parameterType="Note">
        insert into notepad.note(user_id, note_title, note_pic, note_content, note_date, note_class_id, top_time, note_collect, delete_time)
        values (#{user_id},#{note_title},#{note_pic},#{note_content},#{note_date},#{note_class_id},#{top_time},#{note_collect},#{delete_time})
    </insert>

    <delete id="delete" parameterType="Integer">
        delete from notepad.note where note_id = #{note_id}
    </delete>

    <update id="update" parameterType="Note">
        update notepad.note
        set note_title = #{note_title},note_pic = #{note_pic},note_content = #{note_content},note_date = #{note_date},note_class_id= #{note_class_id},top_time=#{top_time},note_collect=#{note_collect},delete_time=#{delete_time}
        where note_id = #{note_id};
    </update>

    <update id="update_id" parameterType="Integer">
        update notepad.note
        set note_class_id = #{note_class_id}
        where note_id = #{id};
    </update>

    <select id="find" parameterType="Integer" resultType="Note">
        select *
        from notepad.note
        where note_id = #{note_id};
    </select>
</mapper>