<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.notepad.mapper.NoteClassMapper">

    <select id="findAll" parameterType="Integer" resultType="java.util.Map">
        select DISTINCT note_class_name
        from notepad.note_class left outer join note
        on note.note_class_id = note_class.note_class_id
       where note.user_id = #{user_id} or note_class.user_id = #{user_id};
    </select>

    <insert id="add">
        insert into notepad.note_class(user_id,note_class_name)
        values (#{user_id},#{note_class_name});
    </insert>

    <delete id="delete" parameterType="Integer">
        delete from notepad.note_class where note_class_id = #{note_class_id}
    </delete>

    <update id="update" parameterType="NoteClass">
        update notepad.note_class
        set note_class_name=#{note_class_name}
        where note_class_id = #{note_class_id}
    </update>

    <select id="find" parameterType="Integer" resultType="Note">
        select *
        from notepad.note_class
        where note_class_id = #{note_class_id};
    </select>


    <select id="find_class" parameterType="String" resultType="NoteClass">
        select *
        from note_class
        where note_class_name = #{note_class_name};
    </select>

</mapper>