<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.notepad.mapper.UnfinishMapper">

    <select id="findAll" resultType="Unfinish">
        select * from unfinish;
    </select>


    <insert id="add" parameterType="Unfinish">
        insert into unfinish(unfinish_content,unfinish_date,unfinish_class_id,unfinish_collect)
        values (#{unfinish_content},#{unfinish_date},#{unfinish_class_id},#{unfinish_collect});
    </insert>

    <delete id="delete" parameterType="Integer">
        delete from unfinish where unfinish_id = #{unfinish_id};
    </delete>

    <update id="update" parameterType="Unfinish" >
        update unfinish
        set unfinish_content = #{unfinish_content},unfinish_date = #{unfinish_date},unfinish_class_id = #{unfinish_class_id},unfinish_collect = #{unfinish_collect },complete =#{complete}
        where unfinish_id = #{unfinish_id };
    </update>

    <select id="find" parameterType="Integer" resultType="Unfinish">
        select *
        from unfinish
        where unfinish_id = #{unfinish_id };
    </select>



</mapper>